<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<h1 class="text-primary">Coach’s Answer</h1>


<p><strong>You asked:</strong> <%= @question %></p>
<p><strong>Coach says:</strong> <%= @answer %></p>

<%= link_to "Ask another question", "/ask" %>
